.cms-container__view {
  position: relative;
  overflow: hidden;
}


/***** * * * USERS / SPONSORS * * * *****/

.pageUser_userTable, .pageSponsors_sponsorsTable{
  width: 86%;
  height: 100%;
  margin-top: 50px;
  margin-left: 8%;
  background-image: url("../img/tableUserSponsors.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
