.cms-container__view {
  position: relative;
  overflow: hidden;
}
.cmsPage {
  overflow: scroll;
}

/***** * * * USERS / SPONSORS * * * *****/

.pageUser_userTable, .pageSponsors_sponsorsTable{
  display: flex;
  width: 98%;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
    margin: 0 auto;
  }
}
