.cms-container {
  width: 100vw;
  height: calc(100vh - 60px);
  background-color: $red;
  display: flex;

  &__sidebar {
    width: 230px;
    background-color: #fff;
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.2);

    &__main-ul {
      width: 100%;
      padding: 0;

      li {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0;
        font-size: 12px;
        text-indent: 22px;

        .listText {
          height: 40px;
          display: flex;
          align-items: center;
          width: 100%;
        }
      }

      .listHeadText {
        color: $greyLight;
        font-size: 11px;
      }

      &__manageContent {
        height: 53px;
        border-bottom: 1px solid $white;
        color: $grey;
        margin-bottom: 20px;
      }

      &__li {
        display: flex;
        flex-flow: column;
        align-items: flex-start !important;

        ul {
          width: 100%;

          li {
            position: relative;
            display: flex;
            align-items: center;
            min-height: 40px;
            text-indent: 45px;
            color: $grey;
            transition: all 300ms ease;
            cursor: pointer;

            &:active,
            &:focus,
            &:hover {
              background-color: $blue;
              color: $white;

              .listPlus {
                span {
                  background-color: $white;
                }
              }
            }

            .pendingIndicator {
              position: absolute;
              width: 18px;
              height: 18px;
              border-radius: 50%;
              background-color: $red;
              color: $white;
              right: 19px;
              top: 50%;
              margin-top: -9px;
              display: flex;
              align-items: center;
              justify-content: center;
              text-indent: 0;
              font-size: 10px;
            }

          }

          .activeSidebar {
            background-color: $blue;
            color: $white;

            .listPlus {
              span {
                background-color: $white;
              }
            }
          }
        }

        &__events-ul {
          &__accordion {
            display: flex;
            flex-direction: column;
            position: relative;
            transition: all 300ms ease;

            .listPlus {
              display: flex;
              position: absolute;
              width: 8px;
              height: 8px;
              right: 24px;
              top: 20px;
              margin-top: -4px;

              span {
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: $black;
                top: 50%;
              }

              span:last-child {
                transform: rotate(90deg);
              }
            }

            &__allEvents {
              height: 0;
              overflow: hidden;
              transition: height 200ms ease;

              li {
                background-color: #fff;

                input {
                  margin: 0 20px 0 50px;
                }
              }
            }
          }
        }
      }
    }
  }

  &__view {
    flex: 1;
  }
}

.accordActive {
  height: 80px;
}

.listPlusActive {
  span {
    background-color: $white;
  }

  span:last-child {
    height: 0;
  }
}
