.cms-container {
  width: 100vw;
  height: calc(100vh - 60px);
  background-color: #fff;
  display: flex;

  &__sidebar {
    width: 230px;
    background-color: #fff;
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.02);

    &__main-ul {
      width: 100%;
      padding: 0;

      li {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0;
        font-size: 12px;
        text-indent: 22px;

        .listText {
          height: 40px;
          display: flex;
          align-items: center;
          width: 100%;
        }
      }

      .listHeadText {
        color: $greyLight;
        font-size: 11px;
      }

      &__manageContent {
        height: 53px;
        border-bottom: 1px solid $white;
        color: $grey;
        margin-bottom: 20px;
      }

      &__li {
        display: flex;
        flex-flow: column;
        align-items: flex-start !important;

        ul {
          width: 100%;

          li {
            position: relative;
            display: flex;
            align-items: center;
            min-height: 40px;
            text-indent: 45px;
            color: $grey;
            transition: all 300ms ease;
            cursor: pointer;

            &:active,
            &:focus,
            &:hover {
              background-color: $blue;
              color: $white;

              .listPlus {
                span {
                  background-color: $white;
                }
              }
            }

            .pendingIndicator {
              position: absolute;
              width: 18px;
              height: 18px;
              border-radius: 50%;
              background-color: $red;
              color: $white;
              right: 19px;
              top: 50%;
              margin-top: -9px;
              display: flex;
              align-items: center;
              justify-content: center;
              text-indent: 0;
              font-size: 10px;
            }

          }

        }

        &__events-ul {
          &__accordion {
            display: flex;
            flex-direction: column;
            position: relative;
            transition: all 300ms ease;

            &:hover {
              .dropdownItem {
                color: $white !important;
              }
            }

            .listPlus {
              display: flex;
              position: absolute;
              width: 8px;
              height: 8px;
              right: 24px;
              top: 20px;
              margin-top: -4px;

              span {
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: $black;
                top: 50%;
              }

              span:last-child {
                transform: rotate(90deg);
              }
            }

            &__allEvents {
              height: 0;
              overflow: hidden;
              transition: height 200ms ease;

              // li {
              //   background-color: #fff;
              //
              //   input {
              //     margin: 0 20px 0 50px;
              //   }
              // }
              .checkboxContainer {
                &:hover {
                  .dropdownItem {
                    color: $white;
                  }
                }

                input[type="checkbox"] {
                  display: none;
                }

                label {
                  position: relative;

                  .dropdownItem {
                    padding-left: 30px;
                    color: $black;
                    font-size: 12px;

                    &:hover {
                      color: $white;
                    }
                  }
                }

                span::after,
                span::before {
                  content: '';
                  position: absolute;
                  top: 0;
                  bottom: 0;
                  margin: auto;
                }

                span.checkbox::before {
                  width: 16px;
                  height: 16px;
                  background-color: #fff;
                  left: 42px;
                  box-sizing: border-box;
                  border: 1px solid $greyLight;
                  transition: border-color 0.2s;
                }

                span.checkbox:hover::before {
                  border: 3px solid $greyLight;

                }

                span.checkbox::after {
                  content: '';
                  background-image: url("../img/icons/svg/checkmark.svg");
                  background-repeat: no-repeat;
                  background-size: contain;
                  background-position: center;
                  width: 12px;
                  height: 12px;
                  left: 45px;
                  top: 1px;
                  transition: color 0.2s;
                  opacity: 0;
                }

                input[type="checkbox"]:checked + label span.checkbox::after {
                  color: $blue;
                  opacity: 1;
                }
              }
            }
          }

          .activeSidebar {
            background-color: $blue;
            color: $white;

            .listPlus {
              span {
                background-color: $white !important;
              }
            }
          }
        }
      }
    }
  }

  &__view {
    flex: 1;
  }
}

.accordActive {
  height: 80px;

  .listPlusActive {
    span {
      background-color: $white !important;
    }
  }
}

.listPlusActive {
  span {
    background-color: $white !important;
  }

  span:last-child {
    height: 0;
  }
}
