.eventsection {
  background: white;
  display: flex;
  flex-flow: row nowrap;
  width: 100vw;
  justify-content: space-around;

  &__left {
    width: 53%;
    margin-top: 160px;
    max-height: calc(100vh - 160px);
    background-color: #FFF;
    overflow: scroll;
    &__container {
      width: 90%;
      height: 100%;
      background-color: $white;
      // padding: 6% 0 6% 0;
      &__filter {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        // padding: 6%;
        &__background {
          display: flex;
          flex-flow: row nowrap;
          width: 47.7%;
          margin: 0 auto;
          align-items: center;
          justify-content: space-between;
          position: fixed;
          background: $white;
          height: 160px;
          padding: 60px;
          top: 0;
          left: 0;
          z-index: 3;

          .searchInput {
            width: 100%;
            border: none;
            background: #FFFFFF;
            box-shadow: inset 1px 2px 3px 0 rgba(0,0,0,0.06);
            height: 50px;
            font-family: $mont;
            font-size: 18px;
            color: $black;
            font-weight: 500;
            text-indent: 30px;
            padding-top: 2px;
          }

          .filterGenre {
            position: relative;
            background: #FFFFFF;
            width: 48%;
            height: 50px;
            box-shadow: 2px 4px 4px 0 rgba(0,0,0,0.04);
            font-family: $mont;
            font-size: 18px;
            color: $black;
            font-weight: 500;
            text-indent: 30px;
            padding-top: 14px;

            &__icon {
              display: flex;
              position: absolute;
              justify-content: center;
              align-items: center;
              height: 20px;
              width: 20px;
              right: 17px;
              top: 50%;
              margin-top: -10px;

              span {
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: $black;
              }

              span:last-child {
                transform: rotate(90deg);
              }
            }

            .iconActive {
              span:last-child {
                width: 0;
              }
            }

            &__dropdown {
              z-index: 2;
              position: absolute;
              display: flex;
              flex-flow: column;
              justify-content: center;
              align-items: center;
              margin-top: 30px;
              background: #FFFFFF;
              width: 100%;
              height: 0;
              overflow: hidden;
              height: 240px;
              transform: scaleY(0);
              transition: all 50ms ease;
              box-shadow: 2px 4px 4px 0 rgba(0,0,0,0.04);

              &__item {
                margin-left: 80px;
                display: flex;
                flex-flow: row nowrap;
                height: 50px;
                justify-content: flex-start;
                align-items: center;
                width: 90%;

                &__checkboxContainer {
                  input[type="checkbox"] {
                    display: none;
                  }

                  label {
                    position: relative;

                    .dropdownItem {
                      padding-left: 30px;
                      color: $black;
                      font-size: 16px;
                    }
                  }

                  span::after,
                  span::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                  }

                  span.checkbox::before {
                    width: 25px;
                    height: 25px;
                    background-color: #fff;
                    left: -35px;
                    box-sizing: border-box;
                    border: 1px solid $greyLight;
                    transition: border-color 0.2s;
                  }

                  span.checkbox:hover::before {
                    border: 3px solid $greyLight;

                  }

                  span.checkbox::after {
                    content: '';
                    background-image: url("../img/icons/svg/checkmark.svg");
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    width: 17px;
                    height: 17px;
                    left: -30px;
                    top: 1px;
                    transition: color 0.2s;
                    opacity: 0;
                  }

                  input[type="checkbox"]:checked + label span.checkbox::after {
                    color: $blue;
                    opacity: 1;
                  }
                }

              }
            }

            .dropdownActive {
              transform: scaleY(1);
            }
          }
        }

        label {
          position: relative;
          width: 48%;

          .searchInput__icon {
            position: absolute;
            width: 20px;
            height: 20px;
            top: 17px;
            right: 17px;
          }
        }
      }

      &__list {
        position: relative;

        &__item {
          padding: 0 10%;
          display: flex;
          flex-flow: row nowrap;
          width: 100%;
          justify-content: space-between;

          &__rightText {
            border-bottom: 1px solid $greyLight;
            width: 75%;
            padding: 12% 0;

            h3 {
              font-size: 18px;
              font-weight: 300;
            }
          }

          &__leftText {
            padding: 12% 0;
            width: 25%;

            span {
              font-family: $mont;
              font-size: 14px;
              font-weight: 300;
              color: $greyLight;
            }
          }
        }

        .selectedEvent {
          border: 1px solid $blue;
          border-left: none;
          position: relative;

          &::after {
            position: absolute;
            content: '';
            width: 40px;
            height: 40px;
            background-color: $white;
            right: -21px;
            top: 50%;
            margin-top: -19px;
            transform: rotate(45deg);
            border-top: 1px solid $blue;
            border-right: 1px solid $blue;
          }

          .eventsection__left__container__list__item__rightText {
            border-bottom: 1px solid transparent;

            h3,
            span {
              color: $blue;
            }
          }
        }
      }

      .flexFix {
        position: absolute;
        width: 100%;
        background-color: $white;
        height: 100%;

      }
    }
  }

  &__left::-webkit-scrollbar {
    display: none;
  }

  &__right {
    background-color: white;
    padding: 0 6% 0 0;
    width: 47%;
    max-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    @include bp(1280) {
      padding: 1%;
    }

    &__stats {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 137px;
      // background-color: $red;
      border-bottom: 1px solid $black;
      margin: 0 0 54px;

      &__item {
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-items: center;
        width: 30%;
        height: 80%;
        // background-color: $red;

        svg {
          width: 46px;
          height: 31px;
        }

        div {
          display: flex;
          flex-flow: column;
          align-items: center;
          justify-content: space-around;
          font-family: $mont;
          font-size: 14px;
          line-height: 18px;
        }
      }
    }

    &__event {
      padding-top: 7%;
      h2 {
        font-size: 40px;
        line-height: 50px;
      }

      h3 {
        font-size: 18px;
        line-height: 30px;
        color: $black;
        font-weight: 500;
      }

      img {
        width: 100%;
        margin: 20px 0;
      }

      &__buttons {
        position: relative;
        display: flex;
        flex-flow: row;
        width: 100%;
        font-family: $mont;
        font-weight: 500;
        height: 50px;
        align-items: center;

        .linkShare {
          width: 70%;
        }

        .linkMap {
          width: 30%;
        }

        .toLinks {
          svg {
            width: 50px;
            height: 22px;
            transform: translateX(10px);
            transition: all 100ms ease;
          }

          .goTo_map,
          .goTo_share {
            .arrowForwRed_map,
            .arrowForwRed_share {
              transition: all 200ms ease;
              fill: transparent;
              transform: translateX(-5px);
            }
          }

          &:hover {
            .arrowForwRed_map,
            .arrowForwRed_share {
              fill: $red;
              transform: translateX(0);
            }

            svg {
              transform: translateX(13px);
            }
          }

          a {
            display: flex;
            align-items: center;
            height: 22px;
            color: $black;
          }
        }

        .linkGetTicket {
          position: absolute;
          top: -140px;
          left: 360px;

          span {
            position: absolute;
            top: 70px;
            left: 50px;
            color: white;
            font-size: 16px;
            font-weight: 500;
          }

          #svggaur {
            padding: 16px;
          }
        }
      }

      &__p {
        margin-bottom: 100px;
      }
    }
  }
}

.eventsection-cms {
  width: 100%;
}
