* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &:active,
  &:focus {
    outline: none;
  }
}

body {
  width: 100%;
  min-height: 100vh;
}

a {
  font-family: $mont;
  text-decoration: none;
  color: $black;
}

h1 {
  font-family: $robo;
  font-size: 14px;
  line-height: 17px;
  color: $black;
}

h2 {
  font-family: $mont;
  font-size: 70px;
  line-height: 100px;
  font-weight: 500;
  @include x-linear-gradient(-135deg, $gradLight, $gradLight, $gradDark);
  background-clip: text;
  color: transparent;
}

h3 {
  font-family: $mont;
  font-size: 18px;
  line-height: 20px;
  color: $greyLight;
}

h4 {
  font-family: $mont;
  font-size: 12px;
  font-weight: 300;
  color: $greyLight;
}

p {
  font-family: $play;
  font-size: 14px;
  line-height: 26px;
  color: $black;
}

.wrapper {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}
