@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,700|Playfair+Display|Roboto:300,500');
// fonts
$robo: 'Roboto', sans-serif;
$mont: 'Montserrat', sans-serif;
$play: 'Playfair Display', serif;

// colors
$black: #2F2F2F;
$red: #FF6565;
$blue: #1835D7;
$grey: #7F86AA;
$greyLight: #B4C4D9;
$white: #F7F9FB;

// gradLights
$gradLight: #71C7FF;
$gradDark: #0110CD;

// signIn Color
$signInGrey: #AFC5DB;
$signInBlack: #20222E;

// user dropdown card
$userDrGrey: #989898;